* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/coding\ image.jfif") ;
    color: rgb(248, 245, 241);
    font-size: x-large;
    position: -webkit-sticky;
    position: sticky;
    align-items: center;
    top: 0;
    background-attachment: fixed;
    z-index: 9999;
}

 header h1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: antiquewhite;
}

header nav {
    margin: 7px 0;
}

 header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: large;
    color: antiquewhite;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: larger;
}

header nav ul li a:hover {
    color: rgb(81, 230, 81);
    border-radius: 15px;
    text-shadow: none;
}

body {
    background-color: rgb(190, 184, 184);
}
h2 {
    font-size: xx-large;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.boxes {
    width: 80%;
    height: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    border-radius: 15px;
         
}

.inside-text {
    background-image: url("../images/hero-bg\ \(1\).jpg");
    
}

.inside-text:hover {
    color: blue;

}

.box2 {
    background-color: grey;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-image: url(../images/horiseon\ \(2\).png);
}

.box3 {
    background-color: grey;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-image:url(../images/map-method.png);
}

.box4 {
    background-color: grey;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.inside-text2 {
    background-image: url(../images/01-html-css-git-homework-demo-1.png);
    text-align: center;
    color:antiquewhite;
}

.about-me {
    padding: 100px;
    display: flex;
    justify-content: space-between;

}

.about-me img {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    

}

@media screen and (max-width: 980px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 30px 15px;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    
    }   
    
}

@media screen and (max-width: 750px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 30px 15px;
    }
    .boxes {
        width: 80%;
        height: 12em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
        border-radius: 15px;
     
}

@media screen and (max-width: 575px) {
    header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 5px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .boxes {
        width: 80%;
        height: 12em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
        border-radius: 15px;
    }
    .box2 {
        background-color: grey;
        width: 30%;
        height: 100%;
        border-radius: 10px;
    }
    
.inside-text2 {
    background-image: url(../images/01-html-css-git-homework-demo-1.png);
    text-align: center;
    color:antiquewhite;
}

    
    